#TextArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 1.5rem;
}

.TextAreaTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.TextAreaDesc {
    font-weight: 100;
    font-size: 1rem;
    margin: 0 2rem;
    padding: 0 20rem;
    display: block;
    text-align: left;
}

/* TODO 
- Change Resume page to use display:grid
- Make about me use display:flex
- Add travel tracker
*/