.ListItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #747d8c;
  border-radius: 1rem;
  min-width: 40vw;
}

.ListItemImg {
  height: 6rem;
  width: 6rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.ListItemText {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  
  margin: 1rem 2rem 1rem 0;
}

.ListItemText > h2 {
  font-size: xx-large;
}

.ListItemText > p {
  padding-top: 0.25rem;
  word-break: break-all;
  white-space: pre;
  line-height: 2;
}
