.Resume {
  height: 100vh;
  width: 100vw;
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% auto 30%;
  grid-template-areas:
    "intro intro"
    "skills experience"
    ". projects";
}

#TextArea {
  grid-area: intro;
}

.ListItems {
  padding: 0 1rem;
  grid-area: experience;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.SkillCards {
  padding: 0 1rem;
  grid-area: skills;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
