#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    padding: 10rem;
    height: 100vh;
    width: 100vw;
}

.ProfilePic {
    position: relative;
    top: 10px;
    max-width: 20%;
    max-height: 20%;
}
/* <img src={pic} alt="ProfilePic" className="ProfilePic" /> */


.introContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    font-size: 12rem;
    font-weight: 700;
    
}

.introGreeting {
    font-size: 6rem;
    font-weight: 100;
}

.introName {
    color: #70a1ff
}

.introPara {
    font-size: xxx-large;
    font-weight: 100;
}

